.btn-oct {
    background: #ff9900;
    background-image: -webkit-linear-gradient(top, #ff9900, #d1a449);
    background-image: -moz-linear-gradient(top, #ff9900, #d1a449);
    background-image: -ms-linear-gradient(top, #ff9900, #d1a449);
    background-image: -o-linear-gradient(top, #ff9900, #d1a449);
    background-image: linear-gradient(to bottom, #ff9900, #d1a449);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #080808;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }
  
  .btn:hover {
    background: #40ff00;
    text-decoration: none;
  }

  .btn-nov {
    background: #ff9900;
    background-image: -webkit-linear-gradient(top, #ff9900, #a86a00);
    background-image: -moz-linear-gradient(top, #ff9900, #a86a00);
    background-image: -ms-linear-gradient(top, #ff9900, #a86a00);
    background-image: -o-linear-gradient(top, #ff9900, #a86a00);
    background-image: linear-gradient(to bottom, #ff9900, #a86a00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #000000;
    text-decoration: none;
  }

  .btn-dec {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #ff0000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #15ff00;
    text-decoration: none;
  }